<div class="container row">
      <div class="card col-xs-12 Carte">
        <h2><%=client.name%></h2>
        <h3>Information de contact: <%=client.contact_info %></h3>
        <%= link_to "Supprimer",client_path(client),method: :delete,:data => {:confirm => "Voulez vous vraiment supprimer le client  #{client.name}"}%>
        <h2>Domaine</h2>
        <% client.domains.each do |d| %>
        <div class="domain">
          <p><%= link_to d.name,"http://#{d.name}", :target => "_blank" %></p>
          <p><%= link_to "En savoir plus", domain_path(d)%></p>
        </div>
        <%end%>
      </div>
</div>