<div>
  <%= link_to t('add_domain'), new_domain_path, class: 'btn btn-primary btn-lg' %>
  <%= link_to t('clients_list'), clients_path, class: 'btn btn-primary btn-lg'%>
  <button id="button-toggle-list" class="btn btn-lg"><%=t('choose_columns')%></button>
</div>

<div id="list">
  <ul class="liste-column" id="visible">
    <li><h4>Visible</h4></li>
    <li><a class="column" data-column ="0"><%=t('name')%></a></li>
    <li><a class="column" data-column ="1"><%=t('client')%></a></li>
    <li><a class="column" data-column ="2"><%=t('server')%></a></li>
    <li><a class="column" data-column ="3"><%=t('server-name')%></a></li>
    <li><a class="column" data-column ="4"><%=t('last_invoice')%></a></li>
    <li><a class="column" data-column ="5"><%=t('time_until_expiration')%></a></li>
    <li><a class="column" data-column ="6"><%=t('set_state')%></a></li>
    <li><a class="column" data-column ="7"><%=t('http_state')%></a></li>
  </ul>
  <ul class="liste-column" id="hidden">
    <li><h4>Caché</h4></li>
  </ul>
</div>

<table id="table" class="display" cellspacing="0" width="100%">
  <thead>
    <tr>
      <th><%=t('name')%></th>
      <th><%=t('client')%></th>
      <th><%=t('server')%></th>
      <th><%=t('server-name')%></th>
      <th><%=t('last_invoice')%></th>
      <th><%=t('time_until_expiration')%></th>
      <th><%=t('set_state')%></th>
      <th class="no-sort"><%=t('http_state')%></th>
      <th class="no-sort"><%=t('info')%></th>
    </tr>
  </thead>
  <tfoot>
    <tr>
      <th><%=t('name')%></th>
      <th><%=t('client')%></th>
      <th><%=t('server')%></th>
      <th><%=t('server-name')%></th>
      <th><%=t('last_invoice')%></th>
      <th><%=t('time_until_expiration')%></th>
      <th><%=t('set_state')%></th>
      <th><%=t('http_state')%></th>
      <th><%=t('info')%></th>
    </tr>
  </tfoot>
  <tbody>
      <% domains.each do |d| %>
        <tr>
          <td><%= link_to d.name,"http://#{d.name}", :target => "_blank" %></td>
          <td><%= link_to d.client.name, client_path(d.client) %></dt>
          <td><%=  d.server %></dt>
          <td><%=  d.server_name %></dt>
          <td><%=  d.last_invoice_date%></td>
          <td><%= Time.diff(Time.now,Time.parse(d.due_date.to_s),'%y, %M, %w, %d')[:diff] %></td>
          <td><%=  d.last_known_state_1%></td>
          <td><p class="etat <%=httpStatus(d) %>"></p></td>
          <td> <%= link_to t('more_detail'), domain_path(d.id)%></td>
        </tr>
      <% end %>
  </tbody>
</table>