<!DOCTYPE html>
<html>
<head>
  <title>Gestion noms de domaines</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="header Bandeaux">
  <div class="container">
    <h1><%= link_to 'Gestion Serveur', domains_path %></h1>
  </div>
</div>
<%= bootstrap_flash %>
<%= yield %>

</body>
</html>
